@keyframes roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes disparition {
    0% {
        opacity: 1;
        visibility: visible;
        display: block;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

@keyframes apparition {
    0% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
    100% {
        opacity: 1;
        visibility: visible;
        display: block;
    }
} 

@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes arrivee {
    from {
        width:0;
    }
    to {
        width:50px;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}