.restaurant-header{
    position: relative;
    padding: 1rem;
    text-align: center;
    z-index: 1000;
    background-color: $color-bg-white;
    img{
        width: 150px;
        margin: 0 auto;

    }
    a{
        text-decoration: none;
        color: $color-primary-black;
        i{
            position: absolute;
            left: 2rem;
            top: 1.25rem;
        }
    }
}

.page-restaurant{    
    background-color: $color-bg-white;
    .img-presentation-restaurant{
        height: 300px;
        img{
            height: 100%;
            width: 100%;
            background-color: $color-bg-white;
            object-fit: cover;
        }
    }

    .nom-restaurant-page{
        padding: 2rem 2rem 2rem 1rem;
        background-color: $color-bg-white;
        display: flex;
        justify-content: space-between;
        border-radius: 35px 35px 0 0;
        margin-top: -30px;
        position: relative;
        z-index: 1000;

        h1{
            font-weight: 600;
            font-family: $font-family-logo;
            font-size: 26px;
        }

        i{
            font-size: 26px;
            cursor: pointer;
        }
    }
    .btn-commander{
        margin: 1rem 25% 2rem 25%;
        width: 50%;

        @include respond(lg){
            width: 33%;
            margin: 1rem 33% 2rem 33%;
        }
    }
}