.restaurant-header{
    position: relative;
    padding: 1rem;
    text-align: center;
    z-index: 1000;
    background-color: $color-bg-white;
    img{
        width: 150px;
        margin: 0 auto;

    }
    a{
        text-decoration: none;
        color: $color-primary-black;
        i{
            position: absolute;
            left: 2rem;
            top: 1.25rem;
        }
    }
}

.page-restaurant{    
    background-color: $color-bg-white;
    .img-presentation-restaurant{
        height: 30%;
        background-size:cover;
        background-repeat: no-repeat;
        background-color: $color-bg-white;
        background-position: center;

        @include respond(lg){
            height: 45%;
        }
    }

    .aLaFrancaise{
        background-image: url(../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    }

    .laNoteEnchantee{
        background-image: url(../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    }

    .leDeliceDesSens{
        background-image: url(../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    }

    .laPaletteDuGout{
        background-image: url(../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);

    }

    .nom-restaurant-page{
        padding: 2rem 2rem 2rem 1rem;
        background-color: $color-bg-white;
        display: flex;
        justify-content: space-between;
        border-radius: 35px 35px 0 0;
        margin-top: -30px;

        h1{
            font-weight: 600;
            font-family: $font-family-logo;
            font-size: 26px;
        }

        i{
            font-size: 26px;
            cursor: pointer;

            &:hover{
                color: red;
            }
        }


        .fa-solid{
            display: none;
            color : $color-bg-list;

            &:hover{
                display: block;
            }
        }
        
        .fa-regular{
            font-size: 26px;
            font-weight: 100;


            &:hover{
                display: none;
            }
        }
    }
    .btn-commander{
        color: $color-primary-white;
        background-color: $color-btn-explore;
        background: $linear-gradient;
        border: 1px solid;
        padding: 1rem;
        border-radius: 25px;
        margin: 1rem 25% 2rem 25%;
        width: 50%;
        font-size: 18px;
        box-shadow: $box-shadow-btn;
        cursor: pointer;

        &:hover{
            filter: brightness(1.1);
            box-shadow: $box-shadow-btn-hover;
        }

        @include respond(lg){
            width: 33%;
            margin: 1rem 33% 2rem 33%;
        }
    }

    .menu-restaurant{
        padding: 0 1rem;

        @include respond(lg){
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 1rem;
        }

        .section{
            padding-bottom:1rem;
        }

        .border{
            border-bottom: 3px solid $color-bg-new;
            width: 45px;
            margin-top: 0.25rem;
        }

        .entete{
            padding: 1rem 0; 
        }

        @for $i from 1 through 20 {
            .animation-#{$i} {
                animation : fadeIn #{$i}s
            }
        }

        .plats{
            .plat{
                display: flex;
                flex-direction: column;
                margin-bottom: 0.5rem;
                .card-plat{
                    width: 100%;
                    background-color: $color-primary-white;
                    display: flex;
                    border-radius: 20px;
                    box-shadow: $box-shadow;
                    margin-bottom: 0.5rem;

                    .infos-plat{
                        width: 80%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding: 0.75rem 2rem 0.75rem 1rem;

                        h3{
                            margin-bottom: 0.5rem;
                        }
                    }
                    .prix{
                        position: relative;
                        width: 20%;
                        span{
                            position: absolute;
                            bottom: 19%;
                            right: 30%;
                            font-weight: bold;
                        }
                    }
                    .selection{
                        padding: 1rem;
                        display: none;
                        border-radius: 0 20px 20px 0;
                        background-color: $color-bg-new;
                        width: 50px;
                        i{
                            margin-top: 5px;
                            margin-left: 23%;
                            font-size: 22px;
                            color: $color-primary-white;
                        }
                    }
                    &:hover .selection{
                        display: block;
                        cursor: pointer;
                        animation: arrivee 0.1s;
                        box-shadow: $box-shadow; 
                    }
                }
                



                // &:hover .card-plat{
                //     width: calc( 100% - 50px )
                // }

                // &:hover #accompagnement{
                //     width: 50%;
                //     color: red;
                // }

                // &:hover .card-plat{
                //     border-radius: 20px 0 0 20px;
                // }

                &:hover .selection i{
                    animation: rotate 0.5s;
                }
            }
        }
    }
}