body{
    background-color:$color-primary-white;
    font-family:$font-family-text;
    main{
        a{
            color: $color-primary-black;
            text-decoration: none;
        }
        .location{
            background-color: $color-bg-grey;
            padding: 1rem;
            text-align: center;
    
            input{
                border: none;
                background-color: transparent;
                text-align: center;
                width: 115px;
                font-weight:500;
            }
        }
    
        .reservation{
            padding: 2.5rem 0 3.5rem 0;
            text-align: center;
            background-color: $color-bg-white;
    
            h1{
                padding: 0 2rem;
                width: 250px;
                margin: 0 auto 1rem auto;
                font-weight: 700;
                font-size: 22px;

                @include respond(md){
                    width: 500px;
                }
            }
    
            p{
                width: 300px;
                margin: 0 auto 2.5rem auto;

                @include respond(md){
                    width: 600px;
                }
            }
        }
    
        .fonctionnement{
            padding: 2.5rem 0.5rem 3.5rem 1.5rem;
    
            h2{
                padding-bottom: 1.25rem;
                font-weight: 700;
                font-size: 20px;
            }
    
            ul{
                list-style: none;
                margin-top: 1rem;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                position: relative;
    
                li{
                    position: relative;
                    padding: 1.5rem;
                    border: 0.1px solid $color-bg-grey;
                    border-radius: 20px;
                    margin-bottom: 1rem;
                    font-weight: bold;
                    box-shadow: $box-shadow-list;

                    @include respond(lg){
                        width: 300px;
                    }

                    span{
                        position: absolute;
                        padding: 6px 10px;
                        background-color: $color-bg-list;
                        color : $color-primary-white;
                        border-radius: 100%;
                        left: -15px;
                        top: 17px;
                    }

                    i{
                        margin-right: 1rem;
                        margin-left: 1rem;
                        width: 15px;
                        color:$color-icon;
                    }

                    &:hover{
                        background-color: $color-bg-list-hover;
                        cursor: pointer;

                        i{
                            color : $color-bg-list;
                        }
                    }
                }

                @include respond(lg){
                    display: flex;
                    justify-content: space-evenly;
                }
            }
        }
    }
}
